:root {
    --bg-main: #CDBB9F;
    --checkboard-color: #C4A783;
    --accent-color: #D5C7C7;

    --btn-chck-1: #CD9F9F;
    --btn-chck-2: #C38282;

    --text-second: #8E6A57;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100dvh;
    max-width: 100vw;
    max-height: 100dvh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-main);
    background:
        conic-gradient(#F5F2E3 25%,
            #F2ECDE 0,
            #F2ECDE 50%,
            #F5F2E3 0,
            #F5F2E3 75%,
            #F2ECDE 0) repeat,
        linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.25));
    background-size: 48px 48px;
    background-position: center;
}

app {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 16px;
}

button {
    padding: 6px 24px;
    font-size: 18px;
    font-weight: 800;
    background-color: #613D3A;
    color: #fff;
    cursor: pointer;
    border-radius: 999px;
    border: none;
}

.main-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: var(--accent-color);
    corner-shape: squircle;
    border-radius: 40px;
    border: 2px #000 solid;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
}

.main-frame.round {
    aspect-ratio: 1;
    width: 28px;
    corner-shape: round;
    border-radius: 999px;
    background-color: #C4E2EC;
    font-weight: 600;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 32px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    corner-shape: squircle;
    border-radius: 36px;
    border: 2px #000 solid;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

button .main-div {
    flex-direction: row;
    font-size: 32px;
    color: #fff;
    font-weight: 900;
    -webkit-text-stroke: 1px black;
    font-weight: 900;
}

button:active {
    scale: 0.97;
}

.title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    pointer-events: none;
    user-select: none;
}

.title {
    margin: 0;
    text-align: center;
    color: #fff;
    font-weight: 900;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    font-size: 68px;
}

.subtitles {
    font-size: 24px;
    color: var(--text-second);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.frames-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 64px;
}

#logo {
    width: 468px;
    animation: logo-anim 4s infinite ease-in-out;
}

@keyframes logo-anim {
    0% {
        transform: rotate(-1deg);
    }

    50% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(-1deg);
    }
}

#mainCard {
    background-color: #fff;
    font-size: 20px;
    gap: 16px;
}
